BackEnd/node_modules/*
BackEnd/upload/*
FrontEnd/lib/consts/consts.dart
FrontEnd/lib/consts/consts.dart
BackEnd/upload.rar
FrontEnd/pubspec.lock
FrontEnd/windows/flutter/generated_plugins.cmake
FrontEnd/pubspec.lock
FrontEnd/linux/flutter/generated_plugins.cmake
FrontEnd/linux/flutter/generated_plugin_registrant.h
FrontEnd/macos/Flutter/GeneratedPluginRegistrant.swift
FrontEnd/linux/flutter/generated_plugin_registrant.cc
